<!--사이드바-->

<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="HeaderFragment">
    <nav class="sidebarNav">
        <div class="sidebar text-center align-center">
            <div class="title-container">
                <a href="/boardList">뉴트리션 해적단</a>
            </div>

            <!--------------------->
            <!----- 수주 관리 ------->
            <!--------------------->
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home2"
                                                     role="button" data-bs-toggle="collapse" aria-expanded="false"
                                                     aria-controls="nv-home">
                        <div class="d-flex align-items-center">
                            <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                            <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                class="nav-link-text">수주관리</span>
                        </div>
                    </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home2">
                                <li class="collapsed-nav-item-title d-none">제목_수주관리</li>
                                <li class="nav-item"><a class="nav-link" href="../index.html" data-bs-toggle=""
                                                        aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">수주 등록</span>
                                    </div>
                                </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../dashboard/project-management.html"
                                                        data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">수주 조회</span>
                                    </div>
                                </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../dashboard/crm.html" data-bs-toggle=""
                                                        aria-expanded="false">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">발주처 조회</span><span
                                            class="badge ms-2 badge badge-phoenix badge-phoenix-info ">New</span>
                                    </div>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <!--------------------->
            <!--- 원자재 관리 ------->
            <!--------------------->
            <div class="navbar-vertical-content">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home3"
                                                         role="button" data-bs-toggle="collapse" aria-expanded="false"
                                                         aria-controls="nv-home">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                    class="nav-link-text">원자재 관리</span>
                            </div>
                        </a>
                            <div class="parent-wrapper label-1">
                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home3">
                                    <li class="collapsed-nav-item-title d-none">제목 원자재 관리
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../index.html" data-bs-toggle=""
                                                            aria-expanded="false">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text">원자재 발주 등록</span>
                                        </div>
                                    </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../dashboard/project-management.html"
                                                            data-bs-toggle="" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text">원자재 입출고 현황</span>
                                        </div>
                                    </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../dashboard/crm.html"
                                                            data-bs-toggle="" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text">원자재 현황 조회</span><span
                                                class="badge ms-2 badge badge-phoenix badge-phoenix-info ">New</span>
                                        </div>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <br>
                <!--------------------->
                <!----- 생산 관리 ------->
                <!--------------------->
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home4"
                                                         role="button" data-bs-toggle="collapse" aria-expanded="false"
                                                         aria-controls="nv-home">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                    class="nav-link-text">생산 관리</span>
                            </div>
                        </a>
                            <div class="parent-wrapper label-1">
                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home4">
                                    <li class="collapsed-nav-item-title d-none">제목_생산관리
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../index.html" data-bs-toggle=""
                                                            aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">생산계획</span>
                                        </div>
                                    </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../dashboard/project-management.html"
                                                            data-bs-toggle="" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text">작업 지시 조회</span>
                                        </div>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <br>
                <!--------------------->
                <!----- 재고 관리 ------->
                <!--------------------->
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <!-- parent pages-->
                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home5"
                                                         role="button"
                                                         data-bs-toggle="collapse" aria-expanded="false"
                                                         aria-controls="nv-home">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                    class="nav-link-text">재고 관리</span>
                            </div>
                        </a>
                            <div class="parent-wrapper label-1">
                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home5">
                                    <li class="collapsed-nav-item-title d-none">제목_재고관리
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../index.html" data-bs-toggle=""
                                                            aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">재고 조회</span>
                                        </div>
                                    </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="../dashboard/project-management.html"
                                                            data-bs-toggle=""
                                                            aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">재고 현황</span>
                                        </div>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <br>
                <!--------------------->
                <!----- 출하 관리 ------->
                <!--------------------->
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <!-- parent pages-->
                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home6"
                                                         role="button"
                                                         data-bs-toggle="collapse" aria-expanded="false"
                                                         aria-controls="nv-home">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                    class="nav-link-text">출하 관리</span>
                            </div>
                        </a>
                            <div class="parent-wrapper label-1">
                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home6">
                                    <li class="collapsed-nav-item-title d-none">제목_출하관리</li>
                                    <li class="nav-item"><a class="nav-link" href="../dashboard/project-management.html"
                                                            data-bs-toggle=""
                                                            aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">출하 현황</span>
                                        </div>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--------------------->
                <!----- LOT 관리 ------->
                <!--------------------->
                <br>
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home7"
                                                         role="button" data-bs-toggle="collapse" aria-expanded="false"
                                                         aria-controls="nv-home">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                    class="nav-link-text">LOT 관리</span>
                            </div>
                        </a>
                            <div class="parent-wrapper label-1">
                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home7">
                                    <li class="collapsed-nav-item-title d-none">제목_LOT 관리</li>
                                    <li class="nav-item"><a class="nav-link" href="../dashboard/project-management.html"
                                                            data-bs-toggle="" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text">완제품 수주별 조회</span></div>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!--------------------->
                    <!----- 시간 관리 ------->
                    <!--------------------->
                    <br>
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                                                             href="#nv-home7" role="button" data-bs-toggle="collapse"
                                                             aria-expanded="false" aria-controls="nv-home">
                                <div class="d-flex align-items-center">
                                    <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                                    <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                        class="nav-link-text">시간 관리</span>
                                </div>
                            </a>
                                <div class="parent-wrapper label-1">
                                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                        id="nv-home8">
                                        <li class="collapsed-nav-item-title d-none">제목_시간 관리</li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="../dashboard/project-management.html"
                                                                data-bs-toggle="" aria-expanded="false">
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
    </nav>
</div>