<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--공통 스타일 -->
    <link href="../../../static/css/jw/default.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/img/favicon.ico">
    <link href="../../../static/css/style.css" type="text/css" rel="stylesheet" id="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="../../../static/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">

    <!--공통 스크립트 -->
    <script src="../../../static/js/popper/popper.min.js"></script>
    <script src="../../../static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../../static/js/anchorjs/anchor.min.js"></script>
    <script src="../../../static/js/is/is.min.js"></script>
    <script src="../../../static/js/fontawesome/all.min.js"></script>
    <script src="../../../static/js/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../../../static/js/list.js/list.min.js"></script>
    <script src="../../../static/js/feather-icons/feather.min.js"></script>
    <script src="../../../static/js/dayjs/dayjs.min.js"></script>
    <script src="../../../static/js/phoenix.js"></script>

    <!--페이지 스크립트 -->
    <th:block layout:fragment="script"></th:block>

    <!--페이지 스타일 -->
    <th:block layout:fragment="css"></th:block>
</head>

<body>

<!-- 헤더 공통 컴포넌트 -->
<div th:replace="~{common/fragments/sidebar::sidebarFragment}"></div>

<!-- 컨텐츠 동적 컴포넌트 -->
<div layout:fragment="content" class="content"></div>

<!-- 푸터 영역 (필요에 따라 주석 해제) -->
<!--<footer th:replace="common/fragments/footer :: FooterFragment"></footer>-->
</body>

</html>
