<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet" id="main.css"/>
</th:block>




<div layout:fragment="content">
    <div class="main-content">
        <div class="main-container2">
            <div class="main-card2 main-cart">
                <div class="main-title_form mt-5 mb-5 main-centered"><h1 class="east-sea-dokdo-regular main-title">뉴트리션 해적단 MES 시스템</h1></div>

                <div class="row m-5">
                    <!--  일일 생산량 -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">일일생산량</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <!--  월간 생산량 -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">월간 생산량</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row m-5">
                    <!--  모든 설비 진행 현황 -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">모든 설비 진행 현황</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <canvas id="myChart3"></canvas>
                        </div>
                    </div>
                    <!--  생산 완료 예정 -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">생산 완료 예정</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <div class="col m-lg-5">
                                <table class="main-table">
                                    <thead>
                                    <tr class="main-tr">
                                        <th class="main-th">수주번호</th>
                                        <th class="main-th">공정</th>
                                        <th class="main-th">완제품 생산량</th>
                                    </tr>
                                    </thead>
                                    <tbody class="main-tbody">
                                    <tr class="main-tr">
                                        <td class="main-td">1</td>
                                        <td class="main-td">A3</td>
                                        <td class="main-td">80</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">2</td>
                                        <td class="main-td">A8</td>
                                        <td class="main-td">200</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">3</td>
                                        <td class="main-td">A1</td>
                                        <td class="main-td">50</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">4</td>
                                        <td class="main-td">A5</td>
                                        <td class="main-td">120</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">5</td>
                                        <td class="main-td">A2</td>
                                        <td class="main-td">90</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-5">
                    <!--  일일 제공 현황 및 공정별 CAPA -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">일일 제공 현황 및 공정별 CAPA</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <div class="col">
                                <table class="main-table">
                                    <thead>
                                    <tr class="main-tr">
                                        <th class="main-th">번호</th>
                                        <th class="main-th">발주처</th>
                                        <th class="main-th">제품명</th>
                                        <th class="main-th">수량</th>
                                        <th class="main-th">수주일</th>
                                        <th class="main-th">예상납기일</th>
                                        <th class="main-th">공정상태</th>
                                        <th class="main-th">긴급여부</th>
                                        <th class="main-th">출하상태</th>
                                    </tr>
                                    </thead>
                                    <tbody class="main-tbody">
                                    <tr class="main-tr">
                                        <td class="main-td">1</td>
                                        <td class="main-td">ABC Corp</td>
                                        <td class="main-td">Widget A</td>
                                        <td class="main-td">100</td>
                                        <td class="main-td">2024-06-01</td>
                                        <td class="main-td">2024-06-10</td>
                                        <td class="main-td">생산중</td>
                                        <td class="main-td">아니오</td>
                                        <td class="main-td">대기중</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">2</td>
                                        <td class="main-td">XYZ Ltd</td>
                                        <td class="main-td">Gadget B</td>
                                        <td class="main-td">200</td>
                                        <td class="main-td">2024-06-05</td>
                                        <td class="main-td">2024-06-15</td>
                                        <td class="main-td">완료</td>
                                        <td class="main-td">예</td>
                                        <td class="main-td">출하완료</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">3</td>
                                        <td class="main-td">LMN Inc</td>
                                        <td class="main-td">Device C</td>
                                        <td class="main-td">150</td>
                                        <td class="main-td">2024-06-03</td>
                                        <td class="main-td">2024-06-12</td>
                                        <td class="main-td">준비중</td>
                                        <td class="main-td">아니오</td>
                                        <td class="main-td">대기중</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  완제품 재고 보유 현황 -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">완제품 재고 보유 현황</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <canvas id="myChart6"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row m-5">
                    <!--  원자재 보유 현황 -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">원자재 보유 현황</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <canvas id="myChart7"></canvas>
                        </div>
                    </div>
                    <!--  원자재 발주 현황 -->
                    <div class="col">
                        <h3 class="east-sea-dokdo-regular  sub-title">원자재 발주 현황</h3>
                        <div style="  display: flex; justify-content: center; align-items: center;">
                            <div class="col">
                                <table class="main-table">
                                    <thead>
                                    <tr class="main-tr">
                                        <th class="main-th">번호</th>
                                        <th class="main-th">발주처</th>
                                        <th class="main-th">제품명</th>
                                        <th class="main-th">수량</th>
                                        <th class="main-th">수주일</th>
                                        <th class="main-th">예상납기일</th>
                                        <th class="main-th">공정상태</th>
                                        <th class="main-th">긴급여부</th>
                                        <th class="main-th">출하상태</th>
                                    </tr>
                                    </thead>
                                    <tbody class="main-tbody">
                                    <tr class="main-tr">
                                        <td class="main-td">1</td>
                                        <td class="main-td">ABC Corp</td>
                                        <td class="main-td">Widget A</td>
                                        <td class="main-td">100</td>
                                        <td class="main-td">2024-06-01</td>
                                        <td class="main-td">2024-06-10</td>
                                        <td class="main-td">생산중</td>
                                        <td class="main-td">아니오</td>
                                        <td class="main-td">대기중</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">2</td>
                                        <td class="main-td">XYZ Ltd</td>
                                        <td class="main-td">Gadget B</td>
                                        <td class="main-td">200</td>
                                        <td class="main-td">2024-06-05</td>
                                        <td class="main-td">2024-06-15</td>
                                        <td class="main-td">완료</td>
                                        <td class="main-td">예</td>
                                        <td class="main-td">출하완료</td>
                                    </tr>
                                    <tr class="main-tr">
                                        <td class="main-td">3</td>
                                        <td class="main-td">LMN Inc</td>
                                        <td class="main-td">Device C</td>
                                        <td class="main-td">150</td>
                                        <td class="main-td">2024-06-03</td>
                                        <td class="main-td">2024-06-12</td>
                                        <td class="main-td">준비중</td>
                                        <td class="main-td">아니오</td>
                                        <td class="main-td">대기중</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-card2 main-checkout">
            </div>
        </div>
    </div>
</div>



<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet"> <!--   title   -->


    <!-- chart.js 설치 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const labels = ['양배추즙', '흑마늘즙', '석류스틱', '매실스틱'];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: '양',
                        data: [500, 1000, 1500, 2000, 3000],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 2,
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '일일생산량'
                        }
                    }
                },
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const labels = ['양배추즙', '흑마늘즙', '석류스틱', '매실스틱'];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: '양',
                        data: [500, 1000, 1500, 2000, 3000],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 2,
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '월간 생산량'
                        }
                    }
                },
            };
            const myChart = new Chart(
                document.getElementById('myChart2'),
                config
            );
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const labels = ['양배추즙', '흑마늘즙', '석류스틱', '매실스틱'];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: '양',
                        data: [500, 1000, 1500, 2000, 3000],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 2,
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '모든 설비 진행 현황'
                        }
                    }
                },
            };
            const myChart = new Chart(
                document.getElementById('myChart3'),
                config
            );
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const labels = ['양배추즙', '흑마늘즙', '석류스틱', '매실스틱'];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: '양',
                        data: [500, 1000, 1500, 2000, 3000],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 2,
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '생산 완료 예정'
                        }
                    }
                },
            };
            const myChart = new Chart(
                document.getElementById('myChart4'),
                config
            );
        });

    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const labels = ['양배추즙', '흑마늘즙', '석류스틱', '매실스틱'];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: '양',
                        data: [500, 1000, 1500, 2000, 3000],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 2,
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '일일 제공 현황 및 공정별 capa'
                        }
                    }
                },
            };
            const myChart = new Chart(
                document.getElementById('myChart5'),
                config
            );
        });

    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const labels = ['양배추즙', '흑마늘즙', '석류스틱', '매실스틱'];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: '양',
                        data: [500, 1000, 1500, 2000, 3000],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 2,
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '완제품 재고 보유한 현황'
                        }
                    }
                },
            };
            const myChart = new Chart(
                document.getElementById('myChart6'),
                config
            );
        });

    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const labels = ['양배추즙', '흑마늘즙', '석류스틱', '매실스틱'];
            const data = {
                labels: labels,
                datasets: [
                    {
                        label: '양',
                        data: [500, 1000, 1500, 2000, 3000],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 2,
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '원자재 보유 현황'
                        }
                    }
                },
            };
            const myChart = new Chart(
                document.getElementById('myChart7'),
                config
            );
        });

    </script>
</th:block>
</html>