<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        h1 {
            color: black;
        }

        div.input-group {

            width: 20vh;
        }
    </style>
</th:block>


<div layout:fragment="content">

    <h1>원자재 발주 관리
        <hr>

    </h1>
    <div class="row mt-5">
        <div class="col">
            <div class="div1">
                <div class="group">
                    <div class="input-group">
                        <span style="margin-left: 75%">
                <input type="text" id="search-input" class="search-input" placeholder="Search..."/>
                    </span>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">공정</th>
                            <th scope="col">LOT</th>
                            <th scope="col">시작시간</th>
                            <th scope="col">종료시간</th>
                            <th scope="col">입고확인</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>A2</td>
                            <td>20240608A1</td>
                            <td>2024.06.7 13:00:05</td>
                            <td>2024.06.7 13:00:05</td>
                            <td>
                                <button>입고버튼</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>A2</td>
                            <td>20240608A1</td>
                            <td>2024.06.7 13:00:05</td>
                            <td>2024.06.7 13:00:05</td>
                            <td>
                                <button>입고버튼</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button> 엑셀 다운</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="div2">

                <div class="group">

                    <label>발주계획서</label>
                    <div class="card checkout">
                        <div>
                            <button onclick="showModal()"> 발주 등록</button>
                        </div>
                    </div>


                    <hr>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">발주처</th>
                            <th scope="col">원자재명</th>
                            <th scope="col">수량</th>
                            <th scope="col">예상납기일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>양배추</td>
                            <td>2000 kg</td>
                            <td>2024-06-19</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>벌꿀</td>
                            <td>10 L</td>
                            <td>2024-06-19</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>포장지</td>
                            <td>15000 ea</td>
                            <td>2024-06-19</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>


</div>

</html>