<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .card {
            margin: 20px;
            background: rgb(255, 250, 235);
            box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        }

        #div1 {
            padding: 10px;
            width: 49.5%;
            height: 110%;
            float: left;
        }

        #div2 {
            padding: 10px;
            width: 49.5%;
            height: 110%;
            float: right;
        }
    </style>
    <link th:href="@{/css/jw.css}" type="text/css" rel="stylesheet" id="jw.css"/>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function () {
            let facilities = /*[[${list}]]*/ [];
            let cards = document.querySelectorAll('.card');

            console.log(facilities);

            // 모달 창 엘리먼트 변수 설정
            const modal = document.getElementById('productionamount');
            const modalTitle = modal.querySelector('.modal-title');
            const modalCanvas = modal.querySelector('.modal-body #div1 canvas');
            const modalContent = modal.querySelector('.modal-body #div2 p');

            // 각 카드를 순회하면서 클릭 이벤트 설정
            cards.forEach(card => {
                let title = card.getAttribute('data-title');
                let facilityData = facilities.find(facility => facility.facility === title);

                if (facilityData) {
                    // 카드를 업데이트합니다.
                    card.querySelector('.card-text').textContent = facilityData.facilityStatus;
                    card.querySelector('.card-footer small').textContent = `진행도 ${facilityData.progress === undefined ? "정지중.." : facilityData.progress}`;

                    // 카드 클릭 시 모달 창 열기
                    card.addEventListener('click', async function () {
                        if (facilityData.workPlanId !== null) {
                            modalTitle.textContent = card.querySelector('.card-title').textContent;
                            modalCanvas.remove(); // 기존 캔버스 제거
                            let canvas = document.createElement('canvas');
                            const workPlanDetailDTO = await fetchWorkPlanDetails(facilityData.workPlanId);
                            canvas.id = 'doughnutChartCanvas';
                            modal.querySelector('.modal-body #div1').appendChild(canvas);
                            let ctx = canvas.getContext('2d');

                            let total = 100;
                            let used = parseInt(facilityData.progress) || 0;
                            let remaining = total - used;

                            let myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    datasets: [{
                                        data: [used, remaining],
                                        backgroundColor: ['rgba(157,157,157,0.2)', 'rgb(111,150,62,0.2)'],
                                        borderColor: 'rgb(0,0,0,0.2)',
                                        borderWidth: 1,
                                        hoverOffset: 4
                                    }]
                                },
                                options: {
                                    responsive: true
                                }
                            });

                            modalContent.textContent = `${facilityData.facilityStatus}, 진행도 ${facilityData.progress === undefined ? "정지중.." : facilityData.progress}`;

                            // 모달 열기
                            modal.style.display = 'block';
                        } else {
                            alert("정보가 없습니다.");
                        }
                    });
                }
            });

            // 모달 닫기 버튼 설정
            const closeButton = modal.querySelector('.btn-close');
            closeButton.addEventListener('click', function () {
                modal.style.display = 'none';
            });
        });

        async function fetchWorkPlanDetails(workPlanId) {
            try {
                const response = await fetch(`/workplan/${workPlanId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    // Optionally, add body parameters if required
                });

                if (response.status === 200) {
                    const workPlanDetailDTO = await response.json();
                    return workPlanDetailDTO; // Return the fetched data
                } else {
                    throw new Error('Failed to fetch work plan details');
                }
            } catch (error) {
                console.error('Error fetching work plan details:', error);
                alert("잘못된 요청입니다.");
                return null; // Return null in case of error
            }
        }

    </script>

    <!-- Chart.js 및 Datalabels 플러그인 CDN 링크 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</th:block>


<div layout:fragment="content">
    <div id="main-content">
        <div class="main-container" id="main-container">
            <label class="main-label">각 설비 실시간 상태 현황</label>
            <div class="container" style="padding: 20px;  text-align: center; /* 가운데 정렬 */
    vertical-align: middle; /* 수직 가운데 정렬 */">
                <div class="row">
                    <div class="col-md-3">
                        <label class="main-label">포장기</label>
                        <div class="row">
                            <div class="card-group" id="pojang">
                                <div class="col-md-6">
                                    <div class="card rounded-3" data-bs-toggle="modal"
                                         data-bs-target="#productionamount" data-title="juiceMachine1">
                                        <div class="card-img-top">
                                            <p class="card-text">가동중</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">즙 포장기1</h5>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">진행도 50%</small>
                                        </div>
                                    </div>
                                    <div class="card rounded-3" data-bs-toggle="modal"
                                         data-bs-target="#productionamount" data-title="juiceMachine2">
                                        <div class="card-img-top">
                                            <p class="card-text">가동중</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">즙 포장기2</h5>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">진행도 80%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card rounded-3" data-bs-toggle="modal"
                                         data-bs-target="#productionamount" data-title="StickMachine1">
                                        <div class="card-img-top">
                                            <p class="card-text">비가동중</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">스틱 포장기1</h5>
                                        </div>

                                        <div class="card-footer">
                                            <small class="text-muted">-</small>
                                        </div>
                                    </div>

                                    <div class="card rounded-3" data-bs-toggle="modal"
                                         data-bs-target="#productionamount" data-title="StickMachine2">
                                        <div class="card-img-top">
                                            <p class="card-text">가동중</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">스틱 포장기2</h5>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">진행도 99%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="main-label">추출기</label>
                        <div class="card-group" id="chuchul">
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="extractor1">
                                <div class="card-img-top">
                                    <p class="card-text">가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">추출기1</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> 진행도 70%</small>
                                </div>
                            </div>
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="extractor2">
                                <div class="card-img-top">
                                    <p class="card-text">가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">추출기2</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> 진행도 70%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="main-label">살균기</label>
                        <div class="card-group" id="salgyun">
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="sterilizer1">
                                <div class="card-img-top">
                                    <p class="card-text">가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">살균기1</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> 진행도 58%</small>
                                </div>
                            </div>
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="sterilizer2">
                                <div class="card-img-top">
                                    <p class="card-text">가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">살균기2</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> 진행도 80%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="main-label">혼합기</label>
                        <div class="card-group" id="honhab">
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="mixer">
                                <div class="card-img-top">
                                    <p class="card-text">가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">혼합기</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> 진행도 90%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="main-label">여과기</label>
                        <div class="card-group" id="yeogyoa">
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="filter">
                                <div class="card-img-top">
                                    <p class="card-text">비가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">여과기</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> 진행도 0%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="main-label">BOX포장기</label>
                        <div class="card-group" id="boxPojang">
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="boxMachine">
                                <div class="card-img-top">
                                    <p class="card-text">가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">BOX포장기</h5>

                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> 진행도 75%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="main-label">금속검출기</label>
                        <div class="card-group" id="gumsa">
                            <div class="card rounded-3" data-bs-toggle="modal" data-bs-target="#productionamount"
                                 data-title="metalDetector">
                                <div class="card-img-top">
                                    <p class="card-text">가동중</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">금속검출기</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">진행도 63%</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal" id="productionamount" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">카드 제목</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="chart-card" id="div1">
                                        <canvas id="doughnutChartCanvas"></canvas>
                                    </div>
                                    <div class="chart-card" id="div2">
                                        <p>내용</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</html>