<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .page-link {
            color: rgba(6, 59, 56, 0.75);
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: rgba(6, 59, 56, 0.75);
            font-weight: bold;
            background-color: #f1f1f1;
            border-color: #ccc;

        }

        .page-link:focus, .page-link:hover {
            color: rgba(6, 59, 56, 0.75);
            font-weight: bold;
            background-color: #c3dfd2;
            border-color: #ccc;
        }

        .modal-label {
            background-color: #7ab2b2;
            color: white;
        }
    </style>
    <link th:href="@{/css/jw.css}" type="text/css" rel="stylesheet" id="jw.css"/>
    <link th:href="@{/css/niceForm.css}" type="text/css" rel="stylesheet" id="niceForm.css"/>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function downloadExcel(event) {
            event.preventDefault(); // 폼 제출 기본 동작을 막음
            window.location.href = '/api/history';
        }

        document.addEventListener('DOMContentLoaded', function() {
            const page = 0; // 페이지 번호를 여기에 설정
            fetch(`/api/rawstock/${page}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    const tbody = document.getElementById('movement-records');
                    tbody.innerHTML = ''; // 기존 내용을 비웁니다.

                    data.forEach((item) => {
                        const row = document.createElement('tr');

                        const codeCell = document.createElement('td');
                        codeCell.textContent = item.rawsCode; // 제품코드
                        row.appendChild(codeCell);

                        const productCell = document.createElement('td');
                        productCell.textContent = item.product; // 제품명
                        row.appendChild(productCell);

                        const quantityCell = document.createElement('td');
                        quantityCell.textContent = item.quantity; // 수량
                        row.appendChild(quantityCell);

                        const statusCell = document.createElement('td');
                        statusCell.textContent = item.status; // 상태
                        row.appendChild(statusCell);

                        const dateCell = document.createElement('td');
                        dateCell.textContent = item.date; // 일자
                        row.appendChild(dateCell);

                        const reasonCell = document.createElement('td');
                        reasonCell.textContent = item.rawsReason; // 사유
                        row.appendChild(reasonCell);

                        tbody.appendChild(row);
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });
    </script>
</th:block>

<div layout:fragment="content">

    <div id="main-content">
        <div class="main-container" id="main-container">
            <div id="card1">
                <div>
                    <label id="main-label">입/출고 관리</label>
                    <div id="button-container">
                        <form>
                            <button class="jw-button" onclick="downloadExcel(event)">엑셀 다운</button>
                        </form>
                    </div>

                    <div class="empty-container">
                        <table class="jw-table">
                            <thead>
                            <tr>
                                <th scope="col">제품코드</th>
                                <th scope="col">제품명</th>
                                <th scope="col">수량</th>
                                <th scope="col">상태</th>
                                <th scope="col">일자</th>
                                <th scope="col">사유</th>
                                <!--<th scope="col">수정/삭제</th>-->
                            </tr>
                            </thead>
                            <tbody id="movement-records">
                            <!-- 데이터가 여기에 동적으로 추가될 것입니다. -->
                            </tbody>
                        </table>
                        <!--<tbody>
                        &lt;!&ndash; 데이터베이스에서 받아온 입출고 기록을 반복해서 출력 &ndash;&gt;
                        <tr th:each="record : ${movementRecords}">
                            <td th:text="${record.productCode}">1번</td>
                            <td th:text="${record.productName}">양배추</td>
                            <td th:text="${record.quantity}">1000kg</td>
                            <td th:text="${record.status}">출고</td>
                            <td th:text="${record.date}">2024-06-10</td>
                            <td th:text="${record.reason}">공정투입</td>
                            <td>
                                <div class="flex-container">
                                    <div class="button2-container">
                                        <button class="jw-button2" data-bs-toggle="modal"
                                                data-bs-target="#update">
                                            수정
                                        </button>
                                    </div>
                                    <div class="button2-container">
                                        <button class="jw-button2" data-bs-toggle="modal"
                                                data-bs-target="#delete">
                                            삭제
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>-->
                    </div>

                </div>


                <div class="empty-container"></div>

                <!-------------
                ---------------
                ---------------
                페이지네이션
                ---------------
                ---------------
                -------------->


                <div id="pagination">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                            <!-- 페이지 번호도 동적으로 처리할 수 있습니다. -->
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- 수정버튼 Modal -->
    <div class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"
                 style="background-color: transparent; border-color: transparent; padding: 10px; color:rgba(6, 59, 56, 0.75);">
                <div class="chart-card">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">입/출고 삭제</h5>
                    </div>

                    <div class="modal-body">

                        <div class="nice-form-group">
                            <label class="modal-label">수량</label>
                            <input type="number" style="width: 85%;" placeholder="수량을 입력해주세요."/>
                        </div>

                        <div class="nice-form-group">
                            <label class="modal-label">일자</label>
                            <input type="date" style="width: 85%;" value="2024-06-24"/>
                        </div>

                        <div class="nice-form-group">
                            <label class="modal-label">사유</label>
                            <textarea rows="3" placeholder="사유를 입력해주세요." value="" style="width: 85%;"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer" style="margin-top: 20px;">
                        <button type="button" class="btn btn-primary">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 삭제버튼 Modal -->
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"
                 style="background-color: transparent; border-color: transparent; padding: 10px; color:rgba(6, 59, 56, 0.75);">
                <div class="chart-card">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel2">입/출고 삭제</h5>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        정말로 삭제하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">삭제</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
