<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .page-link {
            color: rgba(6, 59, 56, 0.75);
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: rgba(6, 59, 56, 0.75);
            font-weight: bold;
            background-color: #f1f1f1;
            border-color: #ccc;

        }

        .page-link:focus, .page-link:hover {
            color: rgba(6, 59, 56, 0.75);
            font-weight: bold;
            background-color: #c3dfd2;
            border-color: #ccc;
        }

        .modal-label {
            background-color: #7ab2b2;
            color: white;
        }
    </style>
    <link href="../static/css/jw.css" type="text/css" rel="stylesheet" id="jw.css"/>
</th:block>

<div layout:fragment="content">

    <div id="main-content">
        <div class="main-container" id="main-container">
            <div id="card1">
                <div>
                    <label id="main-label">입/출고 관리</label>
                    <div id="button-container">
                        <form>
                            <button class="jw-button" onclick="">엑셀 다운</button>
                        </form>
                    </div>

                    <div class="empty-container">
                        <table class="jw-table">
                            <thead>
                            <tr>
                                <th scope="col">제품코드</th>
                                <th scope="col">제품명</th>
                                <th scope="col">수량</th>
                                <th scope="col">상태</th>
                                <th scope="col">일자</th>
                                <th scope="col">사유</th>
                                <th scope="col">수정/삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1번</td>
                                <td>양배추</td>
                                <td>1000kg</td>
                                <td>출고</td>
                                <td>2024-06-10</td>
                                <td>공정투입</td>
                                <td>
                                    <div class="flex-container">
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                수정
                                            </button>
                                        </div>
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                삭제
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2번</td>
                                <td>양배추</td>
                                <td>1000kg</td>
                                <td>출고</td>
                                <td>2024-06-10</td>
                                <td>공정투입</td>
                                <td>
                                    <div class="flex-container">
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                수정
                                            </button>
                                        </div>
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                삭제
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3번</td>
                                <td>양배추</td>
                                <td>1000kg</td>
                                <td>출고</td>
                                <td>2024-06-10</td>
                                <td>공정투입</td>
                                <td>
                                    <div class="flex-container">
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                수정
                                            </button>
                                        </div>
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                삭제
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4번</td>
                                <td>양배추</td>
                                <td>1000kg</td>
                                <td>출고</td>
                                <td>2024-06-10</td>
                                <td>공정투입</td>
                                <td>
                                    <div class="flex-container">
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                수정
                                            </button>
                                        </div>
                                        <div class="button2-container">
                                            <button class="jw-button2" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                삭제
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="empty-container"></div>

                <!-------------
                ---------------
                ---------------
                페이지네이션
                ---------------
                ---------------
                -------------->


                <div id="pagination">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">확인</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!--  Modal
     <div class="modal fade" id="#editModal2" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="editModalLabel2">입/출고 삭제</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal1" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                     정말 삭제하시겠습니까?
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-primary">확인</button>
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                 </div>
             </div>
         </div>
     </div>-->

</div>

</html>
