<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .page-link {
            color: rgba(6, 59, 56, 0.75);
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: rgba(6, 59, 56, 0.75);
            font-weight: bold;
            background-color: #f1f1f1;
            border-color: #ccc;

        }

        .page-link:focus, .page-link:hover {
            color: rgba(6, 59, 56, 0.75);
            font-weight: bold;
            background-color: #c3dfd2;
            border-color: #ccc;
        }
    </style>
    <link th:href="@{/css/jw.css}" type="text/css" rel="stylesheet" id="jw.css"/>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function downloadExcel(event) {
            event.preventDefault(); // 폼 제출 기본 동작을 막음
            window.location.href = '/stock/history';
        }
    </script>
</th:block>


<div layout:fragment="content">

    <div id="main-content">
        <div class="main-container" id="main-container">
            <div id="card1">
                <div>
                    <label id="main-label">재고 조회
                        <span style="margin-left: 75%; width: 150px">
                                       <input type="text" id="search" placeholder="Search..."/>
                                </span>
                    </label>
                    <div class="empty-container"></div>
                    <div class="container">

                        <div class="flex-container">
                            <table class="jw-table">
                                <thead>
                                <tr>
                                    <th scope="col">상품코드</th>
                                    <th scope="col">LOT번호</th>
                                    <th scope="col">수량</th>
                                    <th scope="col">생산 날짜</th>
                                    <th scope="col">출고 날짜</th>
                                    <th scope="col">입/출고 유무</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>석류젤리스틱</td>
                                    <td>300</td>
                                    <td>2024-06-10</td>
                                    <td>2024-06-20</td>
                                    <td>출고</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>매실젤리스틱</td>
                                    <td>100</td>
                                    <td>2024-06-12</td>
                                    <td>2024-06-14</td>
                                    <td>출고</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>흑마늘즙</td>
                                    <td>100</td>
                                    <td>2024-06-19</td>
                                    <td></td>
                                    <td>입고</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>양배추즙</td>
                                    <td>50</td>
                                    <td>2024-06-19</td>
                                    <td></td>
                                    <td>입고</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="empty-container">
                            <div id="button-container">
                                <form>
                                    <button class="jw-button" onclick="downloadExcel(event)">엑셀 다운</button>
                                </form>
                            </div>
                        </div>

                    </div>


                    <!-------------
                ---------------
                ---------------
                페이지네이션
                ---------------
                ---------------
                -------------->


                    <div id="pagination">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>