<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
    <link th:href="@{/css/suzu.css}" type="text/css" rel="stylesheet" id="suzu.css"/>
</th:block>

<th:block layout:fragment="script">

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
    </script>


    <script>
        function nextStep() {
            // alert('다음 단계로 진행합니다.');
            const selectElement = document.getElementById("ordererModal");
            const selectedOrderer = selectElement.options[selectElement.selectedIndex].text;
            const selectedOrderer_num = selectElement.options[selectElement.selectedIndex].value;
            document.getElementById("form-orderer").value = selectedOrderer;
            document.getElementById("form-orderer-num").value = selectedOrderer_num;

            closeModal(); // 다음 버튼 클릭 시 모달 창 닫기
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        // 페이지 로드 시 모달을 자동으로 표시
        window.onload = function () {
            document.getElementById('myModal').style.display = "block";
        }

        // 모달 외부 클릭 시 모달 닫기
        window.onclick = function(event) {
            var modal = document.getElementById('myModal');
            if (event.target == modal) {
                closeModal();
            }
        }
        function addOptionToSelect(selectElement, text, value) {
            const option = document.createElement('option');
            option.text = text;  // name
            option.value = value; // phone number
            selectElement.appendChild(option);
        }

        $.ajax({
            type: "GET",
            url: "/order/orderer/all",
            success: (response) => {
                const selectElement = document.getElementById('ordererModal');
                response.forEach(
                    (e) => {
                        addOptionToSelect(selectElement, e.name, e.phoneNumber);
                    }
                )
            },
            error: (error) => {
                console.log(error)
            }
        })


        document.getElementById('form_submit').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Gather form data
            const orderName = document.getElementById('form-orderer').value;
            const orderNumber = document.getElementById('form-orderer-num').value;
            const product = document.getElementById('form-product').value;
            const quantity = parseInt(document.getElementById('form-count').value, 10);
            const urgency = document.getElementById('form_isUrgent').checked;
            const individual = document.getElementById('form_isPrivate').checked;

            // Create the DTO object
            const mesOrderInsertDTO = {
                orderName: orderName,
                orderNumber: orderNumber,
                individual: individual,
                quantity: quantity,
                urgency: urgency,
                product: product
            };

            fetch('/order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(mesOrderInsertDTO)
            })
                .then(response => {
                    if (response.status === 201) {
                        alert('주문이 성공적으로 되었습니다 !');
                        document.getElementById("form-orderer").value = "";
                        document.getElementById("form-orderer-num").value = "";
                        document.getElementById("form-count").value = "";
                    } else {
                        return response.json().then(data => {
                            alert('Error creating order: ' + (data.message || response.statusText));
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error creating order: ' + error.message);
                });
        });

        function selectExcel() {
            // Trigger the file input click event
            const fileInput = document.getElementById('excel-upload');
            fileInput.click(); // This opens the file selection dialog

            // Listen for changes in the file input
            fileInput.onchange = async function () {
                const file = fileInput.files[0]; // Get the selected file

                if (!file) {
                    alert("파일을 선택하세요.");
                    return;
                }

                const formData = new FormData();
                formData.append("excel", file);

                await fetch('/order/excel', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response // Assuming the server responds with JSON
                    })
                    .then(data => {
                        alert("성공적으로 등록 되었습니다.");
                        console.log('Success:', data);
                    })
                    .catch(error => {
                        alert("에러가 발생하였습니다.  ( 같은 엑셀 등록시 주문량은 주문 완료됨 )");
                        console.error('Error:', error);
                    });
            };
        }
    </script>
</th:block>


<div layout:fragment="content">
    <!--------------------->
    <!----  Main Start ---->
    <!--------------------->
    <div id="myModal" class="gy-modal">
        <div class="gy-modal-content">
            <h2 style="color: #0acf83">신규 발주처</h2>
            <button class="gy-button" onclick="closeModal()">신규 발주처 추가하기</button>
            <hr>
            <h2 style="color: #0acf83">기존 발주처</h2>

            <select id="ordererModal" class="gy-dropdown">
            </select>
            <button class="gy-button" onclick="nextStep()">다음</button>
        </div>
    </div>


    <div class="gy-content">
        <div class="gy-container">
            <div class="gy-card gy-cart">
                <label class="gy-title_form">수주 등록
                    <span style="margin-left: 76%">
                        <form id="excel-form" action="/order/excel" method="post" enctype="multipart/form-data">
                            <input type="file" id="excel-upload" name="excel" style="display: none;" accept=".xls,.xlsx">
                            <button type="button" class="gy-button_right" onclick="selectExcel()">엑셀 등록</button>
                        </form>

            </span>
                </label>
                <div class="gy-steps">
                    <div class="gy-step">
                        <div class="gy-promo">
                            <span>발주처 </span>
                            <form class="gy-form">
                                <input type="text" placeholder="Orderer / Company name" class="gy-input_field"
                                       id="form-orderer">
                            </form>
                        </div>
                        <hr>
                        <div class="gy-promo">
                            <span>전화번호 </span>
                            <form class="gy-form">
                                <input type="text" placeholder=" 010-1234-5678 " class="gy-input_field"
                                       id="form-orderer-num">
                            </form>
                        </div>
                        <hr>
                        <div class="gy-promo">
                            <form class="gy-form">
                                <label for="form-product">

                                    <span>제품명 </span></label><br>
                                <select id="form-product" class="gy-input_field">
                                    <option value="CABBAGE_JUICE">CABBAGE_JUICE</option>
                                    <option value="POMEGRANATE_JELLY_STICK">POMEGRANATE_JELLY_STICK</option>
                                    <option value="PLUM_JELLY_STICK">PLUM_JELLY_STICK</option>
                                    <option value="BLACK_GARLIC_JUICE">BLACK_GARLIC_JUICE</option>
                                </select>
                            </form>

                        </div>
                        <hr>
                        <div class="gy-promo">
                            <span>수량 </span>
                            <form class="gy-form">
                                <input type="text" placeholder="Numbers " class="gy-input_field" id="form-count">
                            </form>
                        </div>
                        <div class="gy-container" style="display: flex; align-items: center">
          <span class="nice-form-group" style="margin-right:100px;">
            <input type="checkbox" class="switch" id="form_isUrgent"/>
            <label for="form_isUrgent">
              긴급여부
              <small>긴급여부가 체크되어있을시 <br> 우선순위가 최우선으로 부여됩니다. </small>
            </label>
          </span>
                            <span class="nice-form-group">
            <input type="checkbox" class="switch" id="form_isPrivate"/>
            <label for="form_isPrivate">
              개인여부
              <small> BoX 단위로 가능합니다.<br> ※ 개수단위 구매불가 </small>
            </label>
          </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gy-card gy-checkout">
                <div class="gy-footer">
                    <label class="gy-price"> </label>
                    <button class="gy-checkout-btn" id="form_submit"> 등 록</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
</div>
</html>