<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link href="../static/css/suzu.css" type="text/css" rel="stylesheet" id="suzu.css"/>
</th:block>

<th:block layout:fragment="script">
    <script>
        function cancelOrder(button) {
            button.textContent = '취소됨';
            button.disabled = true;
        }
    </script>
</th:block>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<div layout:fragment="content">
    <!--------------------->
    <!----  Main Start ---->
    <!--------------------->
    <div class="gy-content2">
        <div class="gy-container2">
            <div class="gy-card2 gy-cart">
                <label class="gy-title_form">수주 조회
                    <span style="margin-left: 75%">
                <input type="text" id="search-input" class="gy-search-input" placeholder="Search..."/>
                    </span>
                </label>

                <div class="gy-steps">
                    <table class="gy-table">
                        <thead class="gy-th">
                        <tr class="gy-tr">
                            <th class="gy-th">번호</th>
                            <th class="gy-th">발주처</th>
                            <th class="gy-th">제품명</th>
                            <th class="gy-th">수량(BOX)</th>
                            <th class="gy-th">수주일</th>
                            <th class="gy-th">예상 납기일</th>
                            <th class="gy-th">공정 상태</th>
                            <th class="gy-th">긴급 여부</th>
                            <th class="gy-th">취소 여부</th>
                        </tr>
                        </thead>
                        <tbody class="gy-tbody">
                        <tr class="gy-tr">
                            <td class="gy-td">1번</td>
                            <td class="gy-td">김철수</td>
                            <td class="gy-td">제품 A</td>
                            <td class="gy-td">100</td>
                            <td class="gy-td">2024-06-10</td>
                            <td class="gy-td">2024-06-20</td>
                            <td class="gy-td">진행중</td>
                            <td class="gy-td">아니오</td>
                            <td class="gy-td">
                                <button onclick="cancelOrder(this)" class="gy-button">취소</button>
                            </td>

                        </tr>
                        <tr class="gy-tr">
                            <td class="gy-td">2번</td>
                            <td class="gy-td">김백수</td>
                            <td class="gy-td">제품 B</td>
                            <td class="gy-td">50</td>
                            <td class="gy-td">2024-06-12</td>
                            <td class="gy-td">2024-06-25</td>
                            <td class="gy-td">대기중</td>
                            <td class="gy-td">네</td>
                            <td class="gy-td">
                                <button onclick="cancelOrder(this)" class="gy-button">취소</button>
                            </td>

                        </tr>
                        <tr class="gy-tr">
                            <td class="gy-td">3번</td>
                            <td class="gy-td">홍길동</td>
                            <td class="gy-td">제품 C</td>
                            <td class="gy-td">200</td>
                            <td class="gy-td">2024-06-14</td>
                            <td class="gy-td">2024-06-30</td>
                            <td class="gy-td">완료</td>
                            <td class="gy-td">아니오</td>
                            <td class="gy-td">
                                <button onclick="cancelOrder(this)" class="gy-button">취소</button>
                            </td>

                        </tr>
                        <tr class="gy-tr">
                            <td class="gy-td">4번</td>
                            <td class="gy-td">아무개</td>
                            <td class="gy-td">제품 D</td>
                            <td class="gy-td">75</td>
                            <td class="gy-td">2024-06-13</td>
                            <td class="gy-td">2024-06-28</td>
                            <td class="gy-td">진행중</td>
                            <td class="gy-td">아니오</td>
                            <td class="gy-td">
                                <button onclick="cancelOrder(this)" class="gy-button">취소</button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="gy-centered">
                    <p> [1] [2] [3] [4] [5] </p>
                </div>
            </div>
            <div class="gy-card2 gy-checkout">
                <div class="gy-footer">
                    <label class="gy-price"> </label>
                    <button class="gy-checkout-btn"> 엑셀 저장</button>
                </div>
            </div>


        </div>
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

</div>
</html>